{% extends 'base.html' %} {% load static %}
<!---->
{% block title %}{{ block.super}} - Post {% endblock title %}
<!---->
{% block stylesheet %} {{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
{% endblock stylesheet %}
<!---->
{% block content %}
<h1>Share your Resource</h1>
<div class="resource-form">
  <form method="post" action="{% url 'resource-post' %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock content %}