{% extends 'base.html' %} {% load static %}
<!---->
{% block title %}{{ block.super }} - Login {% endblock title %}
<!---->
{% block stylesheet %} {{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
{% endblock stylesheet %}
<!---->
{% block content %}
<h1>Log IN</h1>
<div class="resource-form">
    <div class="login-error">
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    </div>

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock content %}