{% extends 'base.html' %}

{% block title %}{{ block.super }} - Profile{% endblock title %}

{% block content %}

<h1>Welcome [{{ request.user.username }}] to the ResourceShare</h1>

<div class="viewed-resources">
    <h3>Viewed Resources</h3>

{% for resource_id, resource_title in request.session.viewed_resources  %}

<a href= {% url "resource-detail" id=resource_id %}> {{ resource_title }}</a><br>

{% empty %}

    <p>No recently viewed resources</p>

{% endfor %}

</div>

{% endblock content%}
